*{
    background-color: #403F3F;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    width: 100%;
    padding-top: 2rem;
}

.jobb-header{
    grid-area: header; 
    padding-left: 31px;
    padding-right: 32px;
}
.jobb-header #work{
    color: yellow;

}

.jobb-header .Linklist{
    display: flex;
    list-style: none;
    align-items: center; 
    justify-content: space-around;
}


.jobb-header .Linklist li{
    display: flex;
    margin-left: 20px; 
    margin-right: 20px;   
}

.Linklist li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.jobb-header #logoLink #logo{     
    display: flex;
    width: 6rem;
    height: auto;    
    padding-left: 1px;  
}



.bodyContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.bodyContainer div{
    margin: 20px;

}

img{
    width: 300px;
    height: 150px;
}

.main {
    width: 500px;
    height: auto;
    font-size: 20px;
    text-align: left;
}
.bilde1{
    display: flex;
    flex-direction: column;
    
}
.bilde2{
    display: flex;
    flex-direction: column;
}


 
@media only screen and (max-width: 430px) {
    *{
        overflow-y: visible;
    }
    
    .container{
        width: 100%;
        padding-top: 2rem;
    }
    
    .jobb-header #work{
        color: yellow;
    
    }
    
    .jobb-header .Linklist{
        display: flex;
        list-style: none;
        align-items: center; 
        justify-content: center;
    }
    
    .Linklist li a{
        text-decoration: none;
        color: #fff;
        font-size: 13px;
    }
    
    
    .bodyContainer{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "main main"
        "bilde1 bilde1"
        "bilde2 bilde2";
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }

    
    img{
        width: 300px;
        height: 150px;
    }
    
    .main {
        grid-area: main;
        width: 400px;
        height: auto;
        font-size: 18px;
        text-align: center;
        padding-top: 30px;
    }
    .bilde1{
        grid-area: bilde1;
        display: flex;
        flex-direction: column;
        
    }
    .bilde2{
        grid-area: bilde2;
        display: flex;
        flex-direction: column;
    }
}









